<!DOCTYPE html>
<meta name="viewport" content="width=device-width">
<html>
    <head>
         <title>404</title>
         <link rel="icon" href="/image/weatherpic.png">
        <link rel="stylesheet" href="/css/styles.css">
        
        
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        <p>{{errorMsg}}</p>

        </div>

        
        {{>footer}}
    
    </body>

</html>